* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    margin: 44px 0 100px 76px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 23px;
    display: inline-block;
    margin-bottom: 10px;
}

.button-header {
    background: #6FBF44;
    color: #ffffff;
    border: 1px solid #4CB538;
    font-size: 16px;
    width: 124px;
    height: 51px;
    border-radius: 5px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

img {
    width: 595.18px;
    height: 500px;
    display: inline-block;
    margin-left: 121px;
}

section {
    display: inline-block;
    width: 515px;
    margin-left: 50px;
}

h1 {
    color: #161A49;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
}

p {
    color: #4B505A;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.button-main {
    color: #6FBF44;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    height: 27px;
}

footer {
    margin-top: 30px;
}

@media screen and (max-width: 1286px) {
    
.link-header {
        font-size: 20px;
        line-height: 40px;
    }

    .button-header {
        font-size: 25px;
        width: 150px;
        height: 60px;
        line-height: 50px;
    }

    section {
        width: auto;
        height: auto;
    }

    p {
        font-size: 25px;
        line-height: 30px;
    }

    .button-main {
        font-size: 25px;
        line-height: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 830px) {
    header {
        margin: 44px 0 50px 76px;
    }
    
    .link-header {
        font-size: 25px;
        line-height: 50px;
    }

    .button-header {
        font-size: 27px;
        width: 150px;
        height: 60px;
        line-height: 50px;
    }

    img {
        position: static;
        width: 350px;
        height: 300px;
        margin-bottom: 30px;
    }

    section {
        width: auto;
        height: auto;
    }

    h1 {
        font-size: 80px;
        line-height: 90px;
        width: auto;
        height: auto;
    }

    p {
        font-size: 30px;
        line-height: 40px;
    }

    .button-main {
        font-size: 30px;
        line-height: 40px;
        height: 50px;
    }
}

@media screen and (max-width: 568px) {
    .link-header {
        font-size: 18px;
        line-height: 20px;
    }

    .button-header {
        font-size: 20px;
        width: 100px;
        height: 40px;
        line-height: 30px;
    }

    img {
        position: static;
        width: 250px;
        height: 200px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
        width: auto;
        height: auto;
    }

    p {
        font-size: 20px;
        line-height: 30px;
    }

    .button-main {
        font-size: 20px;
    }
}