/*
    flex-direction
    row             -> itens colocados em linha (padrão).
    row-reverse     -> semelhante a 'row', mas os itens são colocados na direção oposta.
    column          -> os itens são colocados em colunas.
    column-reverse  -> em colunas mas na direção oposta.


    flex-wrap
    nowrap          -> não quebra linha (padrão).
    wrap            -> Os itens flexíveis serão quebrados em várias linhas, se necessário.
    wrap-reverse    -> Este valor é parecido com o 'wrap', mas eles serão empilhados em direção oposta.


    flex-flow
    Serve para resumir o 'flex-direction' e o 'flex-wrap'. Ele combina duas propriedades em uma única declaração.


    justify-content
    Main Axis  -> Eixo principal
    Cross Axis -> Eixo secundário

    flex-start: Alinha os itens no início do contêiner.
    flex-end: Alinha os itens no final do contêiner.
    center: Centraliza os itens no contêiner ao longo do eixo principal.
    space-between: Distribui os itens uniformemente ao longo do eixo principal, com espaçamento igual entre eles.
    space-around: Distribui os itens uniformemente ao longo do eixo principal, com espaçamento igual ao redor deles.
    space-evenly: Distribui os itens uniformemente ao longo do eixo principal, com espaçamento igual entre eles, incluindo o espaço antes do primeiro e depois do último item.


    align-items
    O eixo principal é determinado pelo 'flex-direction'. O align-items vai se basear no eixo secundário.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    border: 1px solid #9758A6;
    display: flex;
    flex-direction: column;
    height: 800px;
    margin: 10px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.bloco {
    width: 100px;
    height: 100px;
    background: #CDD728;
    border: 5px solid #9758A6;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}