/*  
    PSEUDO CLASSES

    :active → quando o elemento está ativo, ou seja, está sendo pressionado
    :visited → seleciona o link que foi visitado
    :hover → quando o mouse passe em cima do elemento
    :checked → usado em radio / checkbox / select
    :disabled → elemento desabilitado / button / input
    :enabled → elemento está habilitado
    :focus → é aplicada quando um elemento recebe foco, o que pode ocorrer quando o usuário seleciona o elemento
    :read-only → seleciona input ou textarea que são apenas leitura
    :empty → elemento que não tem filho
    
    :first-child → primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
    :first-of-type → primeiro elemento de seu tipo entre os filhos de seu elemento pai
    :last-child → último filho
    :last-of-type → último elemento de seu tipo entre os filhos de seu elemento pai
    :not() → estiliza os elementos, exceto o que está dentro do ()
    :nth-child() → seleciona o elemento baseado na sua posição. Ex: :nth-child(3)
    :nth-last-child() → seleciona o elemento baseado na sua posição, contando de trás para frente.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.a-1:hover {
    color: #ff0000;
}

.p {
    color: #7c00cf;
}

.p:hover {
    color: #17c500;
}

.a-2:active {
    color: #ff0000;
}

.a-3:visited {
    color: #cc2658;
}

.a-4:checked {
    width: 50px;
    height: 50px;
}

.a-5:disabled {
    width: 50px;
    height: 50px;
}

.a-6:focus {
    border: 2px solid #ff0000;
    outline: none;
}

.a-7:read-only {
    border: 2px solid #1900ff;
    outline: none;
}

.a-8 {
    width: 100px;
    height: 100px;
    background: #ff4040;
}

.a-8:empty {
    background: #2b2bff;
}

li:first-child {
    color: #ff0000;
}

.a-9 > li:last-child {
    color: #0da100;
}

.a-10 > span:first-of-type {
    color: #ff0000;
}

.a-10 > p:first-of-type {
    color: #1900ff;
}

.a-11 :not(p) {
    color: #cc2658;
}

.a-11 :nth-child(5) {
    color: #d38a03;
}

.a-11 :nth-last-child(2) {
    color: #03ccd3;
}