* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    height: 500px;
    width: 500px;
    background: #2b2bff;
}

@media (max-width: 600px) {
    .div1 {
        background: #ff3030;
        height: 200px;
        width: 200px;
    }
}

.div2 {
    height: 200px;
    width: 200px;
    background: #32ff2b;
}

@media (min-width: 600px) {
    .div2 {
        background: #ff30ee;
    }
}

/*
    "max-width" é usada para definir a largura máxima que um elemento pode ter.
    "min-width" é usada para definir a largura mínima que um elemento pode ter.
*/