* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: grid;
    grid-gap: 10px;

    /* Formas de fazer: */
    grid-template-columns: 100px 1000px 100px;
    grid-template-columns: 20% 20% 20%;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto)); /* Oq vem embaixo que é aplicado no CSS */
    grid-template-columns: 1fr 1fr 1fr;
}

.space {
    /*height: 300px;
    width: 300px;*/
    color: #ffffff;
    font-size: 18px;
}

.one {
    background: #808080;
}

.two {
    background: #008000;
}

.three {
    background: #970e0e;
}

.four {
    background: #147c7c;
}